# Visual Studio Code
.vscode

# Build results
[Bb]in/
[Oo]bj/

# BenchmarkDotNet
**/BenchmarkDotNet.Artifacts/*

fuzz/.store
fuzz/sharpfuzz
fuzz/minicover
fuzz/corpus
fuzz/coverlet
fuzz/findings
fuzz/coverage.info
fuzz/coverage-hits
Jil